on:
  pull_request:
    branches:
      - main

  workflow_dispatch:
  
name: testPRtrigger

jobs:
  render:
    name: testPRtrigger
    
    runs-on: ${{ matrix.config.os }}

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: ubuntu-20.04, r: 'release', rspm: "https://packagemanager.rstudio.com/cran/__linux__/focal/latest"}

    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      RSPM: ${{ matrix.config.rspm }}
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v2      
        with: 
          fetch-depth: '0'
          clean: 'false' 

      
      - name: Commit results
        run: |
          git config user.email "github-actions@github.com"
          git config user.name "PRBot"
          git pull --ff-only origin HEAD:${{ github.head_ref }}
          cat ${{ github.head_ref }}
          date > foo.txt
          git add foo.txt
          git commit -m 'Update TXT files' || echo "No changes to commit"
          git push origin HEAD:${{ github.head_ref }} || echo "No changes to commit"
