on:
  push:
#    tags:
#      - 'testprefix*' 

name: testTriggerRelease

jobs:
  build:
    name: Upload Release Asset
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - run: echo 'foo' > bar
      - run: git config --global user.email "github-actions@github.com"
      - run: git config --global user.name "RobotBobert"
      - run: git add -A
      - run: git commit -m "baz"
      #- name: Create Release
      #  id: create_release
      #  uses: actions/create-release@v1
      #  env:
      #    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #  with:
      #    tag_name: ${{ github.ref }}
      #    release_name: Release ${{ github.ref }}
      #    draft: false
      #    prerelease: false
      - name: Upload Release Asset
        id: upload-release-asset 
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: https://github.com/brownag/testActions/releases/tag/refs%2Fheads%2Fmain
          asset_path: ./bar
          asset_name: bar
          asset_content_type: text/plain
